@{
    ViewData["Title"] = "Éxito";
}

<h2>¡Formulario Enviado Exitosamente!</h2>
<p>Gracias por tu envío.</p>

@section Scripts {
    <script>
        console.log('¡Formulario enviado exitosamente!');
    </script>
}